.Container {
  display: flex;
  flex-direction: column;
}
.box {
  height: 80px;
  width: 80px;
  cursor: pointer;
}
.Row {
  border: 20px solid rgb(0, 0, 0);
  box-shadow: 8px 8px 20px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
}
.BoxContainer {
  display: flex;
}
